.app {
width: 391px;
height: 615px;
flex-shrink: 0;
border-radius: 40px;
background: rgba(217, 217, 217, 0.36);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
display: flex;
width: 390px;
height: 844px;
padding-bottom: 280px;
flex-direction: column;
align-items: center;
background: #FFF;
}
.forecast-container {
background: rgba(76, 77, 219, 0.78);
display: flex;
justify-content: space-between;
}
.forecast-item{
padding: 10px;
margin: 10px;
border-radius: 10px;
background: rgba(76, 77, 219, 0.51);
}
.location {
  display: flex;
width: 199px;
height: 25px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #5157EB;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: "Josefin Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.container {
width: 322px;
height: 69px;
flex-shrink: 0;
border-radius: 50px;
background: #E9E7FF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


